.card {
  margin-bottom: 1rem;
}

.formCheck {
  margin-bottom: 0.5rem;
}

.formCheckInput {
  margin-right: 0.5rem;
}

.formCheckLabel {
  cursor: pointer;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.createGroupButton {
  align-self: center;
}

.tagBadge {
  margin-right: 0.25rem;
}
