.filterPanel {
    .form-check-inline {
        margin-bottom: 0.5rem;
    }
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.buttonGroup {
    display: flex;
    gap: 1rem;
}

.filterPanelContainer {
    margin-bottom: 1rem;
}

.filterTags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.existingEventsHeader {
    margin-bottom: 1rem;
}

.formCheck {
    margin-bottom: 0.5rem;
}

.formCheckInput {
    margin-right: 0.5rem;
}

.formCheckLabel {
    cursor: pointer;
}
